Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin

.codecov.yml:

coverage:
  status:
    patch:
      default:
        threshold: 2%
        target: 90%
    project:
      default: false
      state:
        target: 68%
        flags:
          - state
      template:
        target: 90%
        flags:
          - template
      cdk:
        target: 72%
        flags:
          - cdk
      eslint-plugin:
        target: 90%
        flags:
          - eslint-plugin

flags:
  state:
    paths:
      - libs/state
    carryforward: true
  template:
    paths:
      - libs/template
    carryforward: true
  cdk:
    paths:
      - libs/cdk
    carryforward: true
  eslint-plugin:
    paths:
      - libs/eslint-plugin
    carryforward: true

comment:
  layout: diff, flags, files
  require_changes: true

chore: format effects.mdx
  apps/docs/docs/state/effects/effects.mdx
Due: none

feat: Added extra field to isrService in order to save extra data if needed
  package.json
  projects/ngx-isr/src/lib/ngx-isr.service.ts
Due: none

feat: apped extra data to html if it's populated
  projects/ngx-isr/src/lib/utils/add-isr-data-before-serialized.ts
Due: none

docs: added url timings interceptor example to make use of extra field in isrService
  projects/ngx-isr-demo/server.ts
  projects/ngx-isr-demo/src/app/app.server.module.ts
  projects/ngx-isr-demo/src/app/url-timings.interceptor.ts
Due: none

chore: increase version to 5.0.1
  projects/ngx-isr/package.json
Due: none

chore: simplify lint-staged pre-commit hooks
  package.json
Due: none

fix(demos): replace cdk/zone-less/rxjs usage with rxjs-zone-less package
  apps/demos/src/app/features/template/rx-for/list-actions/list-actions.component.ts
  apps/demos/src/app/shared/debug-helper/strategy-select/strategy-select/strategy-select.component.ts
  package.json
  yarn.lock
Due: none

fix grammatical error in zone-less/zone-less.mdx
  apps/docs/docs/cdk/zone-less/zone-less.mdx
Due: none

chore: migrate workspace to latest nx & ng14
  .eslintignore
  apps/demos/project.json
  apps/demos/src/app/features/concepts/global-order/rx-form-v/v4-b.component.ts
  apps/demos/src/app/features/experiments/state/selections/child.component.ts
  apps/demos/src/app/features/integrations/dynamic-counter/rx-state-and-reactive-forms/rx-state-and-reactive-forms.component.ts
  apps/demos/src/app/features/integrations/pokemon-pagination/pokemon.component.ts
  apps/demos/src/app/features/tutorials/tutorials-shell.module.ts
  apps/demos/tsconfig.json
  apps/docs/project.json
  apps/ssr-e2e/project.json
  apps/ssr/project.json
  apps/ssr/tsconfig.json
  apps/tour-of-heroes-ngxs/project.json
  apps/tour-of-heroes-ngxs/tsconfig.json
  apps/vanilla-case-studies/project.json
  apps/vanilla-case-studies/tsconfig.json
  libs/cdk/project.json
  libs/cdk/tsconfig.json
  libs/cdk/tsconfig.lib.json
  libs/eslint-plugin/project.json
  libs/state/project.json
  libs/state/tsconfig.json
  libs/state/tsconfig.lib.json
  libs/template/project.json
  libs/template/tsconfig.json
  libs/template/tsconfig.lib.json
  libs/test-helpers/project.json
  nx.json
  package.json
  workspace.json
  yarn.lock
Due: state, template, cdk, eslint-plugin

refactor(cdk): adjust typings to match ts ~4.8
  libs/cdk/internals/core/src/lib/get-zone-unpatched-api.ts
  libs/cdk/notifications/src/lib/create-template-notifier.ts
  libs/cdk/transformations/src/lib/object/toggle.ts
Due: cdk

refactor(state): adjust typings to match ts ~4.8
  libs/state/src/lib/rx-state.service.ts
Due: state

refactor(demos): adjust typings to match ts ~4.8
  apps/demos/src/app/features/template/rx-let/template-triggers/template-triggers.component.html
  apps/demos/src/app/shared/utils/cd-helper.ts
Due: none

feat(cdk): bump @angular/core peerDependency
  libs/cdk/package.json
Due: cdk

feat(state): bump @angular/core peerDependency
  libs/state/package.json
Due: state

feat(template): bump @angular/core peerDependency
  libs/template/package.json
Due: template

chore: upgrade workspace to ng 15
  apps/demos/src/app/app-component/app-component.module.ts
  apps/tour-of-heroes-ngxs/src/app/app-routing.module.ts
  package.json
  yarn.lock
Due: none

test(state): adjust fixture to rxjs internal changes
  libs/state/jest.config.ts
  libs/state/spec/fixtures.ts
Due: state

test(cdk): adjust tests according to upgraded dependencies
  libs/cdk/coercing/spec/coerce-all-factory.spec.ts
  libs/cdk/coercing/spec/coerceDistinctObservableWith.spec.ts
  libs/cdk/jest.config.ts
Due: cdk

test(cdk): adjust tests according to upgraded dependencies
  libs/cdk/coercing/spec/coerceDistinctObservableWith.spec.ts
Due: cdk

fix(demos): adjust 3rd party css import paths
  apps/demos/src/styles/_utils.scss
Due: none

prettify
  apps/docs/docs/state/tutorials/basic-tutorial/03-output-bindings.md
Due: none

Update 05-side-effects.md
  apps/docs/docs/state/tutorials/basic-tutorial/05-side-effects.md
Due: none

refactor: poc types of state
  apps/demos/src/app/features/state/api/basic-usage/proxy.ts
  apps/demos/src/app/features/state/api/basic-usage/state.ts
  apps/demos/src/app/features/state/api/basic-usage/types.ts
Due: none

chore: upgrade to angular 16.0.0-next
  package.json
  yarn.lock
Due: none

feat(state): connect API accepts signals
  libs/state/src/lib/rx-state.service.ts
Due: state

feat(demos): introduce state signals demo
  apps/demos/src/app/app-component/app.menu.ts
  apps/demos/src/app/app-component/app.routes.ts
  apps/demos/src/app/features/state/signal-state/signal-state.component.ts
  apps/demos/src/app/features/state/state-shell.menu.ts
  apps/demos/src/app/features/state/state-shell.module.ts
Due: none

feat(state): introduce state computed API
  libs/state/src/lib/rx-state.service.ts
Due: state

feat(state): introduce signal APIs for get, computed and connect
  libs/state/src/lib/rx-state.service.ts
Due: state

refactor(demos): play with signal APIs
  apps/demos/src/app/features/state/signal-state/signal-state.component.ts
Due: none

chore: use default TestBed config
  apps/demos/src/test-setup.ts
  apps/ssr/src/test-setup.ts
  apps/tour-of-heroes-ngxs/src/test-setup.ts
  apps/vanilla-case-studies/src/test-setup.ts
  libs/cdk/src/test-setup.ts
  libs/state/test-setup.ts
  libs/template/src/test-setup.ts
Due: state, template, cdk

chore: specify peer deps
  libs/cdk/package.json
  libs/state/package.json
  libs/template/package.json
Due: state, template, cdk

chore(state): remove @angular/platform-browser peer dep
  libs/state/package.json
Due: state

docs: use unpatch instead of zoneless
  apps/docs/docs/state/tutorials/increment-a-value.md
Due: none

chore: rollback peer deps to >=13.0.0
  libs/cdk/package.json
  libs/state/package.json
  libs/template/package.json
Due: state, template, cdk

chore(template): remove @angular/platform-browser peer dep
  libs/template/package.json
Due: template

chore(template): bump cdk peer dep to 2.0.0
  libs/template/package.json
Due: template
