Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin

.codecov.yml:

coverage:
  status:
    patch:
      default:
        threshold: 2%
        target: 90%
    project:
      default: false
      state:
        target: 68%
        flags:
          - state
      template:
        target: 90%
        flags:
          - template
      cdk:
        target: 72%
        flags:
          - cdk
      eslint-plugin:
        target: 90%
        flags:
          - eslint-plugin

flags:
  state:
    paths:
      - libs/state
    carryforward: true
  template:
    paths:
      - libs/template
    carryforward: true
  cdk:
    paths:
      - libs/cdk
    carryforward: true
  eslint-plugin:
    paths:
      - libs/eslint-plugin
    carryforward: true

comment:
  layout: diff, flags, files
  require_changes: true

docs: correct directive name
  apps/docs/docs/template/api/rx-for-directive.md
Due: none

docs(template): add setup example with standalone cmp and fix typos
  apps/docs/docs/template/api/let-directive.md
  apps/docs/docs/template/api/rx-for-directive.md
  apps/docs/docs/template/api/rx-if-directive.md
  libs/template/README.md
Due: template

docs(template): change modules imports to standalone ones
  apps/docs/docs/template/api/let-directive.md
  apps/docs/docs/template/api/rx-for-directive.md
  apps/docs/docs/template/api/rx-if-directive.md
  libs/template/README.md
Due: template

docs(template): change templates imports in render-strategies doc
  apps/docs/docs/cdk/render-strategies/strategies/basic-strategies.md
Due: none

docs: added error-handling page
  projects/docs/src/app/components/home.component.html
  projects/docs/src/app/components/home.component.ts
  projects/docs/src/app/docs/components/alert-warning.component.ts
  projects/docs/src/app/docs/pages/error-handling.component.ts
  projects/docs/src/app/docs/pages/getting-started.component.ts
  projects/docs/src/app/docs/pages/how-it-works.component.ts
  projects/docs/tsconfig.json
Due: none

docs: added how it works page
  projects/docs/src/app/docs/layout/docs-page-section.component.ts
  projects/docs/src/app/docs/pages/how-it-works.component.ts
  projects/docs/src/app/docs/routes.ts
  projects/docs/src/assets/images/errors-in-html.png
Due: none

docs: added on-demand revalidation page
  projects/docs/src/app/docs/pages/on-demand-revalidation.component.ts
  projects/docs/src/assets/images/on-demand-postman.png
Due: none

feat(template): rename LetDirective to RxLet
  apps/demos/src/app/features/template/rx-let/scoping/rx-let-scoping.component.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-experiments.module.ts
  apps/docs/docs/template/api/push-pipe.md
  apps/docs/docs/template/api/rx-let-directive.md
  apps/docs/docs/template/performance-issues/handling-view-and-content-queries.md
  apps/docs/docs/template/performance-issues/ngzone-optimizations.md
  libs/template/experimental/viewport-prio/src/lib/viewport-prio.directive.ts
  libs/template/let/src/index.ts
  libs/template/let/src/lib/let.module.ts
  libs/template/let/src/lib/rx-let.directive.ts
  libs/template/let/src/lib/tests/let.directive.complete.spec.ts
  libs/template/let/src/lib/tests/let.directive.context.spec.ts
  libs/template/let/src/lib/tests/let.directive.error.spec.ts
  libs/template/let/src/lib/tests/let.directive.next.spec.ts
  libs/template/let/src/lib/tests/let.directive.parent-notification.spec.ts
  libs/template/let/src/lib/tests/let.directive.rendered.spec.ts
  libs/template/let/src/lib/tests/let.directive.strategy.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.all.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-complete.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-error.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-suspense.spec.ts
Due: template

feat(template): drop LetModule
  apps/demos/src/app/app-component/app-control-panel/app-control-panel.module.ts
  apps/demos/src/app/features/concepts/scheduling/scheduling.module.ts
  apps/demos/src/app/features/experiments/state/rx-state.module.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-switch-poc/rx-switch-poc.module.ts
  apps/demos/src/app/features/integrations/dynamic-counter/shared/shared.module.ts
  apps/demos/src/app/features/integrations/pokemon-pagination/pokemon-pagination.module.ts
  apps/demos/src/app/features/performance/rx-let-vs-push/rx-let-vs-push.module.ts
  apps/demos/src/app/features/template/pipes/pipe-poc/pipe-poc.module.ts
  apps/demos/src/app/features/template/render-callback/render-callback.module.ts
  apps/demos/src/app/features/template/rx-context/rx-context.module.ts
  apps/demos/src/app/features/template/rx-for/list-actions/list-actions.module.ts
  apps/demos/src/app/features/template/rx-for/nested-lists/nested-lists.module.ts
  apps/demos/src/app/features/template/rx-for/route-change/route-change.module.ts
  apps/demos/src/app/features/template/rx-let/basic/rx-let-basic.module.ts
  apps/demos/src/app/features/template/rx-let/exception-handling/rx-let-exception-handling.module.ts
  apps/demos/src/app/features/template/rx-let/lazy-loading-components/lazy-loading-components.module.ts
  apps/demos/src/app/features/template/rx-let/let-template-binding/let-template-binding.module.ts
  apps/demos/src/app/features/template/rx-let/ng-if-hack/ng-if-hack.module.ts
  apps/demos/src/app/features/template/rx-let/preloading-images/preloading-images.module.ts
  apps/demos/src/app/features/template/rx-let/scoping/rx-let-scoping.module.ts
  apps/demos/src/app/features/template/rx-let/template-triggers/template-triggers.module.ts
  apps/demos/src/app/features/template/strategies/comparison/comparison.module.ts
  apps/demos/src/app/features/template/strategies/pixel-priority/pixel-priority.module.ts
  apps/demos/src/app/features/template/viewport-prio/basic-example/basic-example.module.ts
  apps/demos/src/app/shared/debug-helper/strategy-select/strategy-select.module.ts
  apps/demos/src/app/shared/debug-helper/trigger-provider/trigger-provider.module.ts
  apps/demos/src/app/shared/debug-helper/value-provider/value/value.module.ts
  apps/demos/src/app/shared/debug-helper/work/work.module.ts
  apps/demos/src/app/shared/ghost-elements/ghost-elements.module.ts
  apps/demos/src/app/shared/strategy-icon/strategy-icon.module.ts
  apps/demos/src/app/shared/template-structures/recursive/recursive.module.ts
  apps/demos/src/app/shared/zone-patched-icon/zone-patched-icon.module.ts
  apps/docs/docs/cdk/render-strategies/strategies/basic-strategies.md
  apps/docs/docs/template/api/rx-let-directive.md
  apps/ssr/src/app/app.module.ts
  apps/tour-of-heroes-ngxs/src/app/app.module.ts
  libs/template/let/src/index.ts
  libs/template/let/src/lib/let.module.ts
Due: template

refactor(template): rename rx-let.directive.ts to let.directive.ts
  libs/template/let/src/index.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/let/src/lib/tests/let.directive.complete.spec.ts
  libs/template/let/src/lib/tests/let.directive.context.spec.ts
  libs/template/let/src/lib/tests/let.directive.error.spec.ts
  libs/template/let/src/lib/tests/let.directive.next.spec.ts
  libs/template/let/src/lib/tests/let.directive.parent-notification.spec.ts
  libs/template/let/src/lib/tests/let.directive.rendered.spec.ts
  libs/template/let/src/lib/tests/let.directive.strategy.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.all.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-complete.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-error.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-suspense.spec.ts
Due: template

feat(template): drop ForModule
  apps/demos/src/app/features/template/rx-context/rx-context.module.ts
  apps/demos/src/app/features/template/rx-for/error-handling/rx-for-error-handling.module.ts
  apps/demos/src/app/features/template/rx-for/list-actions/list-actions.module.ts
  apps/demos/src/app/features/template/rx-for/nested-lists/nested-lists.module.ts
  apps/demos/src/app/features/template/rx-for/route-change/route-change.module.ts
  apps/docs/docs/cdk/render-strategies/strategies/basic-strategies.md
  apps/docs/docs/template/api/rx-for-directive.md
  apps/docs/docs/template/api/rx-if-directive.md
  apps/ssr/src/app/app.module.ts
  libs/template/for/src/index.ts
  libs/template/for/src/lib/for.module.ts
  libs/template/for/src/lib/tests/for.directive.observable.spec.ts
  libs/template/for/src/lib/tests/for.directive.parent-notification.spec.ts
  libs/template/for/src/lib/tests/for.directive.spec.ts
  libs/template/for/src/lib/tests/for.directive.strategy.spec.ts
Due: template

feat(template): drop IfModule
  apps/demos/src/app/app-shell/app-shell.module.ts
  apps/demos/src/app/features/experiments/structural-directives/if-visible-poc/if-visible.module.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-switch-poc/rx-switch-poc.module.ts
  apps/demos/src/app/features/template/rx-for/list-actions/list-actions.module.ts
  apps/demos/src/app/features/template/rx-if/rx-if-demo.module.ts
  apps/demos/src/app/features/template/strategies/comparison/comparison.module.ts
  apps/docs/docs/template/api/rx-if-directive.md
  libs/template/if/src/index.ts
  libs/template/if/src/lib/if.module.ts
  libs/template/if/src/lib/tests/if.directive.context-templates.spec.ts
  libs/template/if/src/lib/tests/if.directive.context.spec.ts
  libs/template/if/src/lib/tests/if.directive.observable.spec.ts
  libs/template/if/src/lib/tests/if.directive.spec.ts
  libs/template/if/src/lib/tests/if.directive.strategy.spec.ts
Due: template

feat(template): drop PushModule
  apps/demos/src/app/features/concepts/coalescing/coalescing.module.ts
  apps/demos/src/app/features/concepts/passing-values/passing-values.module.ts
  apps/demos/src/app/features/concepts/scheduling/scheduling.module.ts
  apps/demos/src/app/features/concepts/zone-patched-apis/zone-patched-apis.module.ts
  apps/demos/src/app/features/experiments/state/rx-state.module.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-switch-poc/rx-switch-poc.module.ts
  apps/demos/src/app/features/integrations/dynamic-counter/shared/shared.module.ts
  apps/demos/src/app/features/performance/rx-let-vs-push/rx-let-vs-push.module.ts
  apps/demos/src/app/features/template/pipes/pipe-poc/pipe-poc.module.ts
  apps/demos/src/app/features/template/push/push-basic/push-basic.module.ts
  apps/demos/src/app/features/template/push/push-vs-async/push-vs-async.module.ts
  apps/demos/src/app/features/template/render-callback/render-callback.module.ts
  apps/demos/src/app/features/template/rx-for/list-actions/list-actions.module.ts
  apps/demos/src/app/features/template/rx-for/nested-lists/nested-lists.module.ts
  apps/demos/src/app/features/template/rx-let/let-template-binding/let-template-binding.module.ts
  apps/demos/src/app/features/template/rx-let/ng-if-hack/ng-if-hack.module.ts
  apps/demos/src/app/features/template/strategies/comparison/comparison.module.ts
  apps/demos/src/app/features/template/strategies/pixel-priority/pixel-priority.module.ts
  apps/demos/src/app/features/template/viewport-prio/basic-example/basic-example.module.ts
  apps/demos/src/app/shared/debug-helper/renderings/renderings.module.ts
  apps/demos/src/app/shared/debug-helper/strategy-select/strategy-select.module.ts
  apps/demos/src/app/shared/debug-helper/trigger-provider/trigger-provider.module.ts
  apps/demos/src/app/shared/debug-helper/value-provider/value/value.module.ts
  apps/demos/src/app/shared/debug-helper/visualizer/visualizer.module.ts
  apps/demos/src/app/shared/debug-helper/work/work.module.ts
  apps/demos/src/app/shared/ghost-elements/ghost-elements.module.ts
  apps/demos/src/app/shared/image-array/image-array.module.ts
  apps/demos/src/app/shared/template-structures/recursive/recursive.module.ts
  apps/demos/src/app/shared/template-structures/sibling/sibling.module.ts
  apps/docs/docs/cdk/render-strategies/strategies/basic-strategies.md
  apps/ssr/src/app/app.module.ts
  apps/tour-of-heroes-ngxs/src/app/app.module.ts
  libs/template/push/src/index.ts
  libs/template/push/src/lib/push.module.ts
  libs/template/push/src/lib/tests/push.pipe.spec.ts
Due: template

feat(template): rename PushPipe to RxPush
  apps/demos/src/app/features/concepts/coalescing/coalescing.module.ts
  apps/demos/src/app/features/concepts/passing-values/passing-values.module.ts
  apps/demos/src/app/features/concepts/scheduling/scheduling.module.ts
  apps/demos/src/app/features/concepts/zone-patched-apis/zone-patched-apis.module.ts
  apps/demos/src/app/features/experiments/state/rx-state.module.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-switch-poc/rx-switch-poc.module.ts
  apps/demos/src/app/features/integrations/dynamic-counter/shared/shared.module.ts
  apps/demos/src/app/features/performance/rx-let-vs-push/rx-let-vs-push.module.ts
  apps/demos/src/app/features/template/pipes/pipe-poc/pipe-poc.module.ts
  apps/demos/src/app/features/template/push/push-basic/push-basic.module.ts
  apps/demos/src/app/features/template/push/push-vs-async/push-vs-async.module.ts
  apps/demos/src/app/features/template/render-callback/render-callback.module.ts
  apps/demos/src/app/features/template/rx-for/list-actions/list-actions.module.ts
  apps/demos/src/app/features/template/rx-for/nested-lists/nested-lists.module.ts
  apps/demos/src/app/features/template/rx-let/let-template-binding/let-template-binding.module.ts
  apps/demos/src/app/features/template/rx-let/ng-if-hack/ng-if-hack.module.ts
  apps/demos/src/app/features/template/strategies/comparison/comparison.module.ts
  apps/demos/src/app/features/template/strategies/pixel-priority/pixel-priority.module.ts
  apps/demos/src/app/features/template/viewport-prio/basic-example/basic-example.module.ts
  apps/demos/src/app/shared/debug-helper/renderings/renderings.module.ts
  apps/demos/src/app/shared/debug-helper/strategy-select/strategy-select.module.ts
  apps/demos/src/app/shared/debug-helper/trigger-provider/trigger-provider.module.ts
  apps/demos/src/app/shared/debug-helper/value-provider/value/value.module.ts
  apps/demos/src/app/shared/debug-helper/visualizer/visualizer.module.ts
  apps/demos/src/app/shared/debug-helper/work/work.module.ts
  apps/demos/src/app/shared/ghost-elements/ghost-elements.module.ts
  apps/demos/src/app/shared/image-array/image-array.module.ts
  apps/demos/src/app/shared/template-structures/recursive/recursive.module.ts
  apps/demos/src/app/shared/template-structures/sibling/sibling.module.ts
  apps/docs/docs/cdk/render-strategies/strategies/basic-strategies.md
  apps/docs/docs/template/api/push-pipe.md
  apps/ssr/src/app/app.module.ts
  apps/tour-of-heroes-ngxs/src/app/app.module.ts
  libs/template/push/src/index.ts
  libs/template/push/src/lib/push.pipe.ts
  libs/template/push/src/lib/tests/push.pipe.service.spec.ts
  libs/template/push/src/lib/tests/push.pipe.spec.ts
Due: template

feat(template): rename UnpatchDirective to RxUnpatch
  apps/docs/docs/template/api/unpatch-directive.md
  libs/template/README.md
  libs/template/unpatch/src/index.ts
  libs/template/unpatch/src/lib/README.md
  libs/template/unpatch/src/lib/tests/unpatch.directive.spec.ts
  libs/template/unpatch/src/lib/unpatch.directive.ts
Due: template

feat(template): drop UnpatchModule
  apps/demos/src/app/features/concepts/coalescing/coalescing.module.ts
  apps/demos/src/app/features/concepts/nested-vs-injected/nested-vs-injected.module.ts
  apps/demos/src/app/features/concepts/passing-values/passing-values.module.ts
  apps/demos/src/app/features/concepts/projected-views/projected-views.module.ts
  apps/demos/src/app/features/concepts/scheduling/scheduling.module.ts
  apps/demos/src/app/features/concepts/view-vs-embedded-view/view-vs-embedded-view.module.ts
  apps/demos/src/app/features/concepts/zone-patched-apis/zone-patched-apis.module.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-switch-poc/rx-switch-poc.module.ts
  apps/demos/src/app/features/template/pipes/memo-poc/memo-poc.module.ts
  apps/demos/src/app/features/template/pipes/pipe-poc/pipe-poc.module.ts
  apps/demos/src/app/features/template/push/push-basic/push-basic.module.ts
  apps/demos/src/app/features/template/push/push-vs-async/push-vs-async.module.ts
  apps/demos/src/app/features/template/render-callback/render-callback.module.ts
  apps/demos/src/app/features/template/rx-for/list-actions/list-actions.module.ts
  apps/demos/src/app/features/template/rx-for/nested-lists/nested-lists.module.ts
  apps/demos/src/app/features/template/rx-let/lazy-loading-components/lazy-loading-components.module.ts
  apps/demos/src/app/features/template/rx-let/let-template-binding/let-template-binding.module.ts
  apps/demos/src/app/features/template/rx-let/ng-if-hack/ng-if-hack.module.ts
  apps/demos/src/app/features/template/rx-let/preloading-images/preloading-images.module.ts
  apps/demos/src/app/features/template/strategies/comparison/comparison.module.ts
  apps/demos/src/app/features/template/template-shell.module.ts
  apps/demos/src/app/features/template/unpatch/comparison/unpatch-comparison.module.ts
  apps/demos/src/app/features/template/unpatch/unpatch.module.ts
  apps/demos/src/app/features/template/viewport-prio/basic-example/basic-example.module.ts
  apps/demos/src/app/shared/debug-helper/cd-trigger/cd-trigger.module.ts
  apps/demos/src/app/shared/debug-helper/rendering-work/rendering-work.module.ts
  apps/demos/src/app/shared/debug-helper/strategy-select/strategy-select.module.ts
  apps/demos/src/app/shared/debug-helper/trigger-provider/trigger-provider.module.ts
  apps/demos/src/app/shared/debug-helper/value-provider/value-providers.module.ts
  apps/demos/src/app/shared/ghost-elements/ghost-elements.module.ts
  apps/demos/src/app/shared/template-structures/recursive/recursive.module.ts
  apps/demos/src/app/shared/template-structures/sibling/sibling.module.ts
  apps/ssr/src/app/app.module.ts
  libs/template/unpatch/src/index.ts
  libs/template/unpatch/src/lib/unpatch.module.ts
Due: template

feat(template): add migration for NgModule to standalone transition
  libs/template/schematics/migration.json
  libs/template/schematics/src/migrations/drop-modules/__snapshots__/index.spec.ts.snap
  libs/template/schematics/src/migrations/drop-modules/index.spec.ts
  libs/template/schematics/src/migrations/drop-modules/index.ts
Due: template

docs: update docs to reflect standalone imports
  apps/demos/src/app/features/template/render-callback/renderCallback.md
  libs/template/README.md
Due: template

fix(template): virtual-scrolling rxjs 6 compat. autosize update handling
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/resize-observer.ts
Due: template

fix(template): remove `scroll` listener
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
Due: template

fix: allow caching pages on different desk partitions
  projects/ngx-isr/server/src/cache-handlers/filesystem-cache-handler.ts
Due: none

feat: update docs and update version
  README.md
  projects/docs/redis-cache-handler.ts
  projects/docs/src/app/components/home.component.ts
  projects/docs/src/app/docs/pages/getting-started.component.ts
  projects/docs/src/app/url-timings.interceptor.ts
  projects/ngx-isr-demo/server.ts
  projects/ngx-isr-demo/src/app/app.server.module.ts
  projects/ngx-isr-demo/src/app/components/home.component.ts
  projects/ngx-isr-demo/src/app/url-timings.interceptor.ts
  projects/ngx-isr/README.md
  projects/ngx-isr/package.json
  projects/ngx-isr/server/src/index.ts
  projects/ngx-isr/server/src/provide-isr.ts
Due: none

chore: update nx
  .eslintrc.json
  jest.config.ts
  jest.preset.js
  nx.json
  package.json
  projects/docs/.eslintrc.json
  projects/docs/project.json
  projects/docs/src/app/components/home.component.ts
  projects/docs/tailwind.config.js
  tsconfig.json
  yarn.lock
Due: none

chore: upgrade packages to v16
  package.json
  yarn.lock
Due: none

feat: migrate to standalone and universal standalone apis
  projects/docs/server.ts
  projects/docs/src/app/app.component.ts
  projects/docs/src/app/app.config.server.ts
  projects/docs/src/app/app.config.ts
  projects/docs/src/app/app.module.ts
  projects/docs/src/app/docs/layout/docs-page-section.component.ts
  projects/docs/src/main.server.ts
  projects/docs/src/main.ts
Due: none

fix: update app.config.server.ts and interceptor
  projects/docs/src/app/app.config.server.ts
  projects/docs/src/app/app.config.ts
  projects/docs/src/app/app.server.module.ts
  projects/docs/src/app/url-timings.interceptor.ts
Due: none

fix(cdk): update typing for coercing functions (#1532)
  libs/cdk/coercing/spec/coerce-all-factory.spec.ts
  libs/cdk/coercing/spec/coerceObservable.spec.ts
  libs/cdk/coercing/src/lib/coerce-all-factory.ts
  libs/cdk/coercing/src/lib/coerceDistinctObservable.ts
  libs/cdk/coercing/src/lib/coerceDistinctObservableWith.ts
  libs/cdk/coercing/src/lib/coerceObservable.ts
  libs/cdk/coercing/src/lib/coerceObservableWith.ts
Due: cdk

docs: fix link
  apps/docs/docs/cdk/notifications/notifications.mdx
Due: none

chore: migrate to Nx v16
  .eslintrc.json
  apps/demos/project.json
  apps/docs/project.json
  apps/ssr-e2e/cypress.config.ts
  apps/ssr-e2e/project.json
  apps/ssr/project.json
  apps/ssr/src/main.server.ts
  apps/tour-of-heroes-ngxs/project.json
  apps/vanilla-case-studies/project.json
  decorate-angular-cli.js
  jest.config.ts
  jest.preset.js
  libs/cdk/.eslintrc.json
  libs/cdk/project.json
  libs/eslint-plugin/.babelrc
  libs/eslint-plugin/project.json
  libs/state/.eslintrc.json
  libs/state/actions/spec/actions.factory.spec.ts
  libs/state/actions/spec/transforms.spec.ts
  libs/state/project.json
  libs/state/selections/spec/accumulation-observable.spec.ts
  libs/state/selections/spec/distinctUntilSomeChanged.spec.ts
  libs/state/selections/spec/select.spec.ts
  libs/state/selections/spec/selectSlice.spec.ts
  libs/state/selections/spec/side-effect-observable.spec.ts
  libs/state/selections/spec/stateful.spec.ts
  libs/state/spec/.eslintrc.json
  libs/state/src/lib/rx-state.service.ts
  libs/template/.eslintrc.json
  libs/template/cypress.config.ts
  libs/template/project.json
  libs/test-helpers/project.json
  migrations.json
  nx.json
  package.json
  tools/generators/.gitkeep
  yarn.lock
Due: state, template, cdk, eslint-plugin

feat: bump Angular to v16
  libs/cdk/package.json
  libs/state/package.json
  libs/template/package.json
Due: state, template, cdk

chore: migrate to Angular v16 + cleanup unused deps
  libs/cdk/package.json
  libs/eslint-plugin/src/lib/utils/guards.ts
  libs/state/package.json
  libs/template/package.json
  libs/template/push/src/lib/tests/push.pipe.spec.ts
  migrations.json
  package.json
  yarn.lock
Due: state, template, cdk, eslint-plugin

chore: fix ssr build
  apps/ssr/src/main.server.ts
Due: none

chore: fix component test target
  libs/template/project.json
Due: template

refactor: update packages
  migrations.json
  package.json
  yarn.lock
Due: none

fix(state): handle error emission in `connect` using `ErrorHandler`
  libs/state/selections/src/lib/accumulation-observable.ts
  libs/state/spec/rx-state.component.spec.ts
  libs/state/src/lib/rx-state.service.ts
Due: state

chore: bump deps
  package.json
  yarn.lock
Due: none

feat(state): add `injectRxEffects` function
  libs/state/effects/src/index.ts
  libs/state/effects/src/lib/effects.service.spec.ts
  libs/state/effects/src/lib/inject.spec.ts
  libs/state/effects/src/lib/inject.ts
Due: state

feat(state): add `injectRxActionFactory` function
  libs/state/actions/src/index.ts
  libs/state/actions/src/lib/inject.spec.ts
  libs/state/actions/src/lib/inject.ts
  package.json
  yarn.lock
Due: state

test: move spec files
  libs/state/actions/src/lib/actions.factory.spec.ts
  libs/state/actions/src/lib/transforms.spec.ts
Due: state
