Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin

.codecov.yml:

coverage:
  status:
    patch:
      default:
        threshold: 2%
        target: 90%
    project:
      default: false
      state:
        target: 68%
        flags:
          - state
      template:
        target: 90%
        flags:
          - template
      cdk:
        target: 72%
        flags:
          - cdk
      eslint-plugin:
        target: 90%
        flags:
          - eslint-plugin

flags:
  state:
    paths:
      - libs/state
    carryforward: true
  template:
    paths:
      - libs/template
    carryforward: true
  cdk:
    paths:
      - libs/cdk
    carryforward: true
  eslint-plugin:
    paths:
      - libs/eslint-plugin
    carryforward: true

comment:
  layout: diff, flags, files
  require_changes: true

feat(state): add `injectRxState` function
  libs/state/src/index.ts
  libs/state/src/lib/inject.spec.ts
  libs/state/src/lib/inject.ts
Due: state

test(state): add type inference spec
  libs/state/src/lib/inject.spec.ts
Due: state

refactor(state): provide composition functions
  libs/state/src/index.ts
  libs/state/src/lib/inject.spec.ts
  libs/state/src/lib/inject.ts
Due: state

refactor(state): add withTransforms fn
  libs/state/actions/src/index.ts
  libs/state/actions/src/lib/inject.spec.ts
  libs/state/actions/src/lib/inject.ts
Due: state

refactor: rename fns
  libs/state/src/index.ts
  libs/state/src/lib/inject.spec.ts
  libs/state/src/lib/inject.ts
Due: state

refactor(state): add withConnect overloads + handle multiple sources
  libs/state/src/lib/inject.spec.ts
  libs/state/src/lib/inject.ts
Due: state

refactor(state): align withConnect with withHold
  libs/state/src/lib/inject.spec.ts
  libs/state/src/lib/inject.ts
Due: state

refactor(state): hold multiple streams
  libs/state/src/lib/inject.spec.ts
  libs/state/src/lib/inject.ts
Due: state

refactor(state): fix withConnect type check
  libs/state/src/lib/inject.spec.ts
  libs/state/src/lib/inject.ts
Due: state

refactor(state): fix withConnect type check
  libs/state/src/lib/inject.ts
Due: state

feat(state): add `provideRxState` fn
  libs/state/src/lib/inject.spec.ts
  libs/state/src/lib/inject.ts
Due: state

refactor(state): use DestroyRef
  libs/state/actions/src/lib/inject.ts
  libs/state/effects/src/lib/inject.ts
  libs/state/src/lib/inject.ts
Due: state

refactor(state): export `provideRxState`
  libs/state/src/index.ts
Due: state

docs: update actions doc #1561
  apps/docs/docs/state/actions/actions.mdx
Due: none

docs: actions update motivation and difficulty
  apps/docs/docs/state/actions/actions.mdx
Due: none

docs: actions fix motivation spacing
  apps/docs/docs/state/actions/actions.mdx
Due: none

docs: prettify
  apps/docs/docs/state/actions/actions.mdx
Due: none

refactor: add engines to repo and sync with rx-angular
  package.json
Due: none

refactor(state): use inject for `ErrorHandler`
  libs/state/actions/src/lib/actions.factory.spec.ts
  libs/state/actions/src/lib/actions.factory.ts
  libs/state/actions/src/lib/inject.ts
  libs/state/actions/src/lib/proxy.ts
  libs/state/effects/src/lib/effects.service.spec.ts
  libs/state/effects/src/lib/effects.service.ts
  libs/state/effects/src/lib/inject.ts
Due: state

refactor(state): fix `actionProxyHandler` type
  libs/state/actions/src/lib/actions.factory.ts
  libs/state/actions/src/lib/proxy.ts
Due: state

fix(template): untrack subscription and unsubscription in push pipe
  libs/template/push/src/lib/push.pipe.ts
Due: template

fix(template): added tests for untracked push pipe
  libs/template/push/src/lib/tests/push.pipe.spec.ts
Due: template

fix(demos): fix setup demo
  apps/demos/src/app/features/tutorials/basics/1-setup/setup.start.component.ts
  apps/demos/src/app/features/tutorials/basics/tutorial-basics.module.ts
Due: none

docs: add selection docs
  apps/docs/docs/state/selections/selections.mdx
Due: none

fix(demos): fix setup demo
  apps/demos/src/app/features/tutorials/basics/tutorial-basics.module.ts
Due: none

refactor: align dependencies with workspace versions
  projects/ngx-isr/package.json
Due: none

chore: release version 0.5.6
  projects/ngx-isr/package.json
Due: none

chore(schematics): add simple-import-sort & unused-imports rules
  .eslintrc.json
  package.json
  yarn.lock
Due: none

refactor(schematics): warns to error in new rules
  .eslintrc.json
Due: none

refactor(eslint): clean component-selector rule
  libs/template/for/src/lib/tests/fixtures.ts
  libs/template/for/src/lib/tests/for.directive.parent-notification.spec.ts
  libs/template/if/src/lib/tests/fixtures.ts
Due: template

refactor(eslint): add no-input-rename
  libs/template/.eslintrc.json
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
  libs/template/for/src/lib/for.directive.ts
  libs/template/if/src/lib/if.directive.ts
  libs/template/let/src/lib/let.directive.ts
Due: template

chore: fix lint issues
  .eslintrc.json
  libs/cdk/coercing/src/lib/coerceDistinctObservable.ts
  libs/cdk/zone-less/browser/src/browser.ts
  libs/state/actions/spec/actions.factory.spec.ts
  libs/state/actions/spec/transforms.spec.ts
  libs/state/selections/spec/accumulation-observable.spec.ts
  libs/state/selections/spec/selectSlice.spec.ts
  libs/state/selections/spec/side-effect-observable.spec.ts
  libs/state/selections/spec/stateful.spec.ts
  libs/template/cypress.config.ts
  libs/template/if/src/index.ts
  libs/template/let/src/index.ts
  libs/template/let/src/lib/tests/let.directive.context.spec.ts
  libs/template/let/src/lib/tests/let.directive.next.spec.ts
  libs/template/let/src/lib/tests/let.directive.parent-notification.spec.ts
  libs/template/let/src/lib/tests/let.directive.rendered.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.all.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-error.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-suspense.spec.ts
  libs/template/push/src/lib/tests/push.pipe.spec.ts
Due: state, template, cdk

docs(demos): add link to exercise instructions into main readme of tutorials
  apps/demos/src/app/features/tutorials/basics/README.md
Due: none

Update apps/docs/docs/state/selections/selections.mdx
  apps/docs/docs/state/selections/selections.mdx
Due: none

docs: remove empty sections
  apps/docs/docs/state/selections/selections.mdx
Due: none

docs: wip add isr docs
  .gitignore
  .prettierignore
  apps/docs/docs/isr/_category_.json
  apps/docs/docs/isr/getting-started.md
  apps/docs/docs/isr/introduction.md
  apps/docs/docs/isr/isr.mdx
  apps/docs/docusaurus.config.js
  libs/isr/.eslintrc.json
  libs/isr/README.md
  libs/isr/jest.config.ts
  libs/isr/project.json
  libs/isr/src/index.ts
  libs/isr/src/test-setup.ts
  libs/isr/tsconfig.json
  libs/isr/tsconfig.lib.json
  libs/isr/tsconfig.spec.json
  package.json
  tsconfig.base.json
  yarn.lock
Due: none

docs: add existing docs pages from ngx-isr
  apps/docs/docs/isr/error-handling.md
  apps/docs/docs/isr/getting-started.md
  apps/docs/docs/isr/how-it-works.md
  apps/docs/docs/isr/on-demand-revalidation.md
  libs/isr/ng-package.json
Due: none
