Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin

.codecov.yml:

coverage:
  status:
    patch:
      default:
        threshold: 2%
        target: 90%
    project:
      default: false
      state:
        target: 68%
        flags:
          - state
      template:
        target: 90%
        flags:
          - template
      cdk:
        target: 72%
        flags:
          - cdk
      eslint-plugin:
        target: 90%
        flags:
          - eslint-plugin

flags:
  state:
    paths:
      - libs/state
    carryforward: true
  template:
    paths:
      - libs/template
    carryforward: true
  cdk:
    paths:
      - libs/cdk
    carryforward: true
  eslint-plugin:
    paths:
      - libs/eslint-plugin
    carryforward: true

comment:
  layout: diff, flags, files
  require_changes: true

chore(tutorials): update tutorials instructions
  apps/tutorials/src/app/features/tutorials/basics/README.md
Due: none

docs: adopt img links
  apps/docs/docs/isr/error-handling.md
  apps/docs/docs/isr/on-demand-revalidation.md
  apps/docs/static/img/isr/errors-in-html.png
  apps/docs/static/img/isr/on-demand-postman.png
Due: none

Add the $implicit to the rx if doc
  apps/docs/docs/template/api/rx-if-directive.md
Due: none

Change example to use $implicit
  apps/docs/docs/template/api/rx-if-directive.md
Due: none

fix(docs): isr
  apps/docs/docs/isr/api.md
  apps/docs/docs/isr/benefits.md
  apps/docs/docs/isr/cache-handlers.md
  apps/docs/docs/isr/cache-hooks.md
  apps/docs/docs/isr/error-handling.md
  apps/docs/docs/isr/extra.md
  apps/docs/docs/isr/getting-started.md
  apps/docs/docs/isr/how-it-works.md
  apps/docs/docs/isr/introduction.md
  apps/docs/docs/isr/on-demand-revalidation.md
  apps/docs/static/img/isr/extra.png
Due: none

fix(docs): add key selling points
  apps/docs/docs/isr/isr.mdx
Due: none

fix(docs): added isr logo
  apps/docs/docs/isr/isr.mdx
  apps/docs/static/img/isr/isr-logo.png
Due: none

release(cdk): 16.0.0
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
Due: cdk

release(template): 16.0.0
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

release(state): 16.0.0
  libs/state/CHANGELOG.md
  libs/state/package.json
Due: state

fix(template): autosize virtual scroll handles updates with trackBy
  libs/template/experimental/virtual-scrolling/src/lib/model.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-list-template-manager.ts
Due: template

refactor(template): virtual scroll viewport has more meaningful classes
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
  libs/template/experimental/virtual-scrolling/tests/autosize.cy.ts
  libs/template/experimental/virtual-scrolling/tests/dynamic-size.cy.ts
  libs/template/experimental/virtual-scrolling/tests/fixed-size.cy.ts
Due: template

test(template): fix flaky autosize strategy spec
  libs/template/cypress.config.ts
  libs/template/experimental/virtual-scrolling/tests/autosize.cy.ts
Due: template

refactor(template): use DI for ResizeObserver
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/resize-observer.ts
Due: template

fix(template): fix properties not initialized
  libs/template/for/src/lib/for.directive.ts
  libs/template/if/src/lib/if.directive.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/push/src/lib/push.pipe.ts
Due: template

test(template): fix private cdrRef access
  libs/template/let/src/lib/tests/let.directive.parent-notification.spec.ts
Due: template

release(template): 16.0.1
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

refactor(template): use `takeUntilDestroyed` to cleanup observables
  libs/template/for/src/lib/for.directive.ts
  libs/template/if/src/lib/if.directive.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/push/src/lib/push.pipe.ts
Due: template

docs: remove code folder
  libs/isr/.eslintrc.json
  libs/isr/README.md
  libs/isr/jest.config.ts
  libs/isr/ng-package.json
  libs/isr/project.json
  libs/isr/src/index.ts
  libs/isr/src/test-setup.ts
  libs/isr/tsconfig.json
  libs/isr/tsconfig.lib.json
  libs/isr/tsconfig.spec.json
Due: none

refactor: add action function
  libs/state/actions/spec/actions.spec.ts
  libs/state/actions/src/lib/actions.ts
Due: state

refactor: add tests for actions function
  libs/state/actions/src/lib/actions.spec.ts
  libs/state/actions/src/lib/actions.ts
  libs/state/actions/src/lib/proxy.ts
  libs/state/actions/src/lib/types.ts
Due: state

refactor: remove unused import
  libs/state/actions/src/lib/actions.ts
Due: state

docs: wip web docs
  apps/docs/docs/state/actions/actions.mdx
Due: none

refactor: wip API
  libs/state/actions/src/lib/actions.factory.ts
  libs/state/actions/src/lib/actions.spec.ts
  libs/state/actions/src/lib/actions.ts
  libs/state/actions/src/lib/proxy.ts
Due: state

refactor: adjust test
  libs/state/actions/src/lib/actions.spec.ts
Due: state

refactor: cleanup rxActions
  libs/state/actions/src/lib/actions.ts
Due: state

refactor: fix lint errors/warnings
  libs/state/actions/src/lib/actions.ts
  libs/state/actions/src/lib/inject.spec.ts
Due: state

refactor: add tests for actions function
  libs/state/actions/spec/actions.spec.ts
  libs/state/actions/src/lib/actions.ts
  libs/state/actions/src/lib/proxy.ts
  libs/state/actions/src/lib/types.ts
Due: state

refactor: wip API
  libs/state/actions/spec/actions.spec.ts
  libs/state/actions/src/lib/actions.factory.ts
  libs/state/actions/src/lib/actions.ts
  libs/state/actions/src/lib/proxy.ts
Due: state

refactor: adjust test
  libs/state/actions/spec/actions.spec.ts
Due: state

refactor: relocate tests
  libs/state/actions/src/lib/actions.factory.spec.ts
  libs/state/actions/src/lib/actions.spec.ts
  libs/state/actions/src/lib/inject.spec.ts
  libs/state/actions/src/lib/transforms.spec.ts
Due: state

refactor: refactor test setup
  libs/state/actions/src/lib/actions.spec.ts
Due: state

refactor: refactor action factory tests
  libs/state/actions/src/lib/actions.factory.spec.ts
Due: state
