Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin

.codecov.yml:

coverage:
  status:
    patch:
      default:
        threshold: 2%
        target: 90%
    project:
      default: false
      state:
        target: 68%
        flags:
          - state
      template:
        target: 90%
        flags:
          - template
      cdk:
        target: 72%
        flags:
          - cdk
      eslint-plugin:
        target: 90%
        flags:
          - eslint-plugin

flags:
  state:
    paths:
      - libs/state
    carryforward: true
  template:
    paths:
      - libs/template
    carryforward: true
  cdk:
    paths:
      - libs/cdk
    carryforward: true
  eslint-plugin:
    paths:
      - libs/eslint-plugin
    carryforward: true

comment:
  layout: diff, flags, files
  require_changes: true

refactor: refactor action factory tests 2
  libs/state/actions/src/lib/actions.factory.spec.ts
Due: state

refactor: refactor action factory tests 3
  libs/state/actions/src/lib/actions.factory.spec.ts
Due: state

refactor: clean up comments
  libs/state/actions/src/lib/actions.factory.spec.ts
Due: state

restore tutorial
  apps/docs/docs/state/tutorials/basic-tutorial/01-setup.md
Due: none

fix(template): virtual-scroll scrollStrategy dependency error in es2022
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
Due: template

fix(template): remove optional chaining in virtual scroll component
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
Due: template

feat(template): add `rxState` function
  libs/state/src/index.ts
  libs/state/src/lib/inject.spec.ts
  libs/state/src/lib/inject.ts
Due: state

chore: git mv libs/isr-move/projects/ngx-isr libs/isr
  libs/isr/README.md
  libs/isr/browser/README.md
  libs/isr/browser/ng-package.json
  libs/isr/browser/src/index.ts
  libs/isr/browser/src/isr.service.ts
  libs/isr/karma.conf.js
  libs/isr/models/README.md
  libs/isr/models/ng-package.json
  libs/isr/models/src/cache-handler.ts
  libs/isr/models/src/index.ts
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/models/src/ngx-isr-service.interface.ts
  libs/isr/ng-package.json
  libs/isr/package.json
  libs/isr/project.json
  libs/isr/server/README.md
  libs/isr/server/ng-package.json
  libs/isr/server/src/cache-handlers/filesystem-cache-handler.ts
  libs/isr/server/src/cache-handlers/in-memory-cache-handler.ts
  libs/isr/server/src/cache-regeneration.ts
  libs/isr/server/src/http-errors.interceptor.ts
  libs/isr/server/src/index.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/isr-logger.ts
  libs/isr/server/src/ngx-isr-server.service.ts
  libs/isr/server/src/ngx-isr.module.ts
  libs/isr/server/src/provide-isr.ts
  libs/isr/server/src/utils/add-isr-data-before-serialized.ts
  libs/isr/server/src/utils/get-isr-options.ts
  libs/isr/server/src/utils/render-url.ts
  libs/isr/src/public-api.ts
  libs/isr/src/test.ts
  libs/isr/tsconfig.lib.json
  libs/isr/tsconfig.lib.prod.json
  libs/isr/tsconfig.spec.json
Due: none

fix(template): virtual-scroll scrollStrategy dependency error in es2022 (#1586)
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
Due: template

release(template): 16.0.2
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

feat: renaming classes and interfaces
  libs/isr/README.md
  libs/isr/browser/README.md
  libs/isr/browser/ng-package.json
  libs/isr/browser/src/index.ts
  libs/isr/browser/src/isr.service.ts
  libs/isr/models/README.md
  libs/isr/models/ng-package.json
  libs/isr/models/src/index.ts
  libs/isr/models/src/isr-service.interface.ts
  libs/isr/ng-package.json
  libs/isr/package.json
  libs/isr/project.json
  libs/isr/server/README.md
  libs/isr/server/ng-package.json
  libs/isr/server/src/cache-handlers/filesystem-cache-handler.ts
  libs/isr/server/src/cache-handlers/in-memory-cache-handler.ts
  libs/isr/server/src/cache-regeneration.ts
  libs/isr/server/src/http-errors.interceptor.ts
  libs/isr/server/src/index.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/isr-server.service.ts
  libs/isr/server/src/isr.module.ts
  libs/isr/server/src/provide-isr.ts
  libs/isr/server/src/utils/add-isr-data-before-serialized.ts
  libs/isr/src/public-api.ts
  libs/isr/tsconfig.json
  libs/isr/tsconfig.lib.json
  libs/isr/tsconfig.lib.prod.json
  tsconfig.base.json
  yarn.lock
Due: none

fix: removed comments
  libs/isr/browser/src/isr.service.ts
  libs/isr/ng-package.json
  libs/isr/package.json
  libs/isr/tsconfig.json
  libs/isr/tsconfig.lib.json
  libs/isr/tsconfig.spec.json
  tsconfig.base.json
Due: none

fix: remove non existing path mapping
  tsconfig.base.json
Due: none

chore: change Nx project name to "isr"
  libs/isr/project.json
Due: none

chore: add linting to isr
  libs/isr/.eslintrc.json
  libs/isr/project.json
Due: none

chore: correct `@rx-angular/cdk` path mapping
  tsconfig.base.json
Due: none

fix: remove broken paths
  tsconfig.base.json
Due: none

refactor(template): remove nested barrel file
  libs/template/experimental/virtual-scrolling/src/index.ts
  libs/template/experimental/virtual-scrolling/src/lib/index.ts
Due: template

refactor(eslint): refactor entrypoint exports
  libs/eslint-plugin/src/index.ts
Due: eslint-plugin

refactor(cdk): remove nested barrel file
  libs/cdk/coalescing/src/index.ts
  libs/cdk/coalescing/src/lib/index.ts
Due: cdk

test: remove nested barrel file
  libs/test-helpers/src/index.ts
  libs/test-helpers/src/lib/index.ts
Due: none

chore: use `projectRoot` outputs placeholder
  libs/test-helpers/project.json
Due: none

chore: fix isr-docs lint patterns
  libs/isr-move/projects/docs/project.json
Due: none

chore: add linting to test-helpers
  libs/test-helpers/.eslintrc.json
  libs/test-helpers/project.json
Due: none

chore: change Nx project name to "isr-docs"
  libs/isr-move/projects/docs/project.json
Due: none

chore: rename isr target to "build"
  libs/isr/project.json
Due: none

chore: use source for isr path mapping
  tsconfig.base.json
Due: none

chore: use Jest for ISR unit tests
  libs/isr/jest.config.ts
  libs/isr/karma.conf.js
  libs/isr/project.json
  libs/isr/src/test-setup.ts
  libs/isr/src/test.ts
  libs/isr/tsconfig.spec.json
Due: none

chore: normalize isr TypeScript configurations
  libs/isr/project.json
  libs/isr/tsconfig.json
  libs/isr/tsconfig.lib.json
  libs/isr/tsconfig.lib.prod.json
  libs/isr/tsconfig.spec.json
Due: none

chore: add recommended `@nx/enforce-module-boundaries` lint checks
  .eslintrc.json
  libs/cdk/.eslintrc.json
  libs/isr-move/.eslintrc.json
  libs/isr/.eslintrc.json
  libs/state/spec/.eslintrc.json
  libs/template/.eslintrc.json
Due: state, template, cdk

test: resolve `@nx/enforce-module-boundaries` with relative imports
  libs/state/spec/fixtures.ts
  libs/state/spec/rx-state.component-patterns.spec.ts
  libs/state/spec/rx-state.component.spec.ts
  libs/state/spec/rx-state.service.spec.ts
Due: state

chore: resolve transitive dependency for `express`
  libs/isr/package.json
Due: none

refactor(state): add void transform to actions
  libs/state/actions/src/lib/transforms.ts
Due: state

chore: fix names in code
  libs/isr/README.md
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/utils/render-url.ts
Due: none

chore: update rx-angular/isr library version to 16.0.0
  libs/isr/package.json
Due: none

chore: bump ng-morph to v3.0.0
  libs/cdk/package.json
  libs/state/package.json
  libs/template/package.json
  package.json
  yarn.lock
Due: state, template, cdk

chore: added correct logo
  apps/docs/static/img/isr-logo.png
  libs/isr/README.md
Due: none

chore: fix linting
  libs/isr-move/projects/docs/server.ts
  libs/isr-move/projects/docs/src/app/app.config.ts
  libs/isr-move/projects/docs/src/app/components/home.component.ts
  libs/isr-move/projects/docs/src/app/docs/pages/error-handling.component.ts
  libs/isr-move/projects/docs/src/app/docs/pages/getting-started.component.ts
  libs/isr-move/projects/docs/src/app/docs/pages/on-demand-revalidation.component.ts
  package.json
  yarn.lock
Due: none
