Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin

.codecov.yml:

coverage:
  status:
    patch:
      default:
        threshold: 2%
        target: 90%
    project:
      default: false
      state:
        target: 68%
        flags:
          - state
      template:
        target: 90%
        flags:
          - template
      cdk:
        target: 72%
        flags:
          - cdk
      eslint-plugin:
        target: 90%
        flags:
          - eslint-plugin

flags:
  state:
    paths:
      - libs/state
    carryforward: true
  template:
    paths:
      - libs/template
    carryforward: true
  cdk:
    paths:
      - libs/cdk
    carryforward: true
  eslint-plugin:
    paths:
      - libs/eslint-plugin
    carryforward: true

comment:
  layout: diff, flags, files
  require_changes: true

fix: yarn.lock
  yarn.lock
Due: none

fix: css build
  apps/demos/src/styles/_utils.scss
Due: none

chore: fix renames
  apps/docs/docs/isr/error-handling.md
  apps/docs/docs/isr/extra.md
  apps/docs/docs/isr/introduction.md
  libs/isr/server/README.md
Due: none

docs: self-close img element
  libs/isr/README.md
Due: none

docs: use Markdown images
  apps/docs/docs/isr/error-handling.md
  apps/docs/docs/isr/extra.md
  apps/docs/docs/isr/on-demand-revalidation.md
Due: none

docs: disable file existence checking for Markdown images
  apps/docs/docs/isr/error-handling.md
  apps/docs/docs/isr/extra.md
  apps/docs/docs/isr/on-demand-revalidation.md
Due: none

refactor(template): rename viewCacheSize to templateCacheSize
  apps/docs/docs/template/api/virtual-scrolling.mdx
  libs/template/experimental/virtual-scrolling/src/lib/model.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-list-template-manager.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll.config.ts
  libs/template/experimental/virtual-scrolling/tests/autosize.cy.ts
  libs/template/experimental/virtual-scrolling/tests/dynamic-size.cy.ts
  libs/template/experimental/virtual-scrolling/tests/fixed-size.cy.ts
  libs/template/experimental/virtual-scrolling/tests/fixtures.ts
Due: template

feat(template): decouple scroll-element from viewport
  libs/template/experimental/virtual-scrolling/src/lib/index.ts
  libs/template/experimental/virtual-scrolling/src/lib/model.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/fixed-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/util.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-element.directive.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.scss
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
Due: template

test(template): implement tests for custom scroll element
  libs/template/experimental/virtual-scrolling/tests/autosize.cy.ts
  libs/template/experimental/virtual-scrolling/tests/dynamic-size.cy.ts
  libs/template/experimental/virtual-scrolling/tests/fixed-size.cy.ts
  libs/template/experimental/virtual-scrolling/tests/fixtures.ts
Due: template

docs(template): add docs for custom scroll elements
  apps/docs/docs/template/api/virtual-scrolling.mdx
Due: none

feat(template): introduce virtual window scroll
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-window.directive.ts
Due: template

fix(template): don't schedule resize event
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
Due: template

feat(demos): add demos for decoupled scroll elements
  apps/demos/src/app/features/template/rx-virtual-for/rx-virtual-for.menu.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-demo.component.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-experiments.module.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-scroll-window-demo.component.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-scrollable-demo.component.ts
  apps/demos/src/styles.scss
Due: none

chore: adjust index.ts
  libs/template/experimental/virtual-scrolling/src/index.ts
  libs/template/experimental/virtual-scrolling/src/lib/index.ts
Due: template

chore: update lockfile
  yarn.lock
Due: none

chore: remove incorrect main property
  libs/cdk/package.json
  libs/state/package.json
  libs/template/package.json
Due: state, template, cdk

chore: configure publish target
  libs/cdk/project.json
  libs/isr/project.json
  libs/state/project.json
  libs/template/project.json
  nx.json
Due: state, template, cdk

chore: re-configure commitlint and codecov
  .codecov.yml
  .commitlintrc.json
Due: none

chore: updated lockfile
  yarn.lock
Due: none

docs: add ISR docs (#1578)
  .gitignore
  .prettierignore
  apps/docs/docs/isr/_category_.json
  apps/docs/docs/isr/api.md
  apps/docs/docs/isr/benefits.md
  apps/docs/docs/isr/cache-handlers.md
  apps/docs/docs/isr/cache-hooks.md
  apps/docs/docs/isr/error-handling.md
  apps/docs/docs/isr/extra.md
  apps/docs/docs/isr/getting-started.md
  apps/docs/docs/isr/how-it-works.md
  apps/docs/docs/isr/introduction.md
  apps/docs/docs/isr/isr.mdx
  apps/docs/docs/isr/on-demand-revalidation.md
  apps/docs/docusaurus.config.js
  apps/docs/static/img/isr/errors-in-html.png
  apps/docs/static/img/isr/extra.png
  apps/docs/static/img/isr/isr-logo.png
  apps/docs/static/img/isr/on-demand-postman.png
  libs/isr/README.md
  libs/isr/server/README.md
  package.json
  yarn.lock
Due: none

test(template): fix virtual scroll tests
  libs/template/experimental/virtual-scrolling/tests/autosize.cy.ts
  libs/template/experimental/virtual-scrolling/tests/dynamic-size.cy.ts
  libs/template/experimental/virtual-scrolling/tests/fixed-size.cy.ts
Due: template

test(template): adjust specs to new virtualFor API
  libs/template/experimental/virtual-scrolling/tests/autosize.cy.ts
  libs/template/experimental/virtual-scrolling/tests/dynamic-size.cy.ts
  libs/template/experimental/virtual-scrolling/tests/fixed-size.cy.ts
Due: template

feat(template): decouple scroll-element from viewport
  apps/demos/src/app/features/template/rx-virtual-for/rx-virtual-for.menu.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-demo.component.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-experiments.module.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-scroll-window-demo.component.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-scrollable-demo.component.ts
  apps/demos/src/styles.scss
  apps/docs/docs/template/api/virtual-scrolling.mdx
  libs/template/experimental/virtual-scrolling/src/index.ts
  libs/template/experimental/virtual-scrolling/src/lib/model.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/fixed-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/util.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-element.directive.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.scss
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-window.directive.ts
  libs/template/experimental/virtual-scrolling/tests/autosize.cy.ts
  libs/template/experimental/virtual-scrolling/tests/dynamic-size.cy.ts
  libs/template/experimental/virtual-scrolling/tests/fixed-size.cy.ts
  libs/template/experimental/virtual-scrolling/tests/fixtures.ts
Due: template

refactor(state): add action on method
  libs/state/actions/src/lib/actions.factory.ts
  libs/state/actions/src/lib/proxy.ts
  libs/state/actions/src/lib/rx-actions.spec.ts
  libs/state/actions/src/lib/rx-actions.ts
  libs/state/actions/src/lib/types.ts
Due: state

refactor(state): add docs
  apps/docs/docs/state/actions/actions.mdx
Due: none

refactor(state): add test docs
  apps/docs/docs/state/actions/actions.mdx
  libs/state/actions/src/lib/docs.spec.ts
  libs/state/actions/src/lib/proxy.ts
  libs/state/actions/src/lib/rx-actions.spec.ts
  libs/state/actions/src/lib/types.ts
Due: state

Update apps/docs/docs/state/actions/actions.mdx
  apps/docs/docs/state/actions/actions.mdx
Due: none

refactor(state): add test for injectionContext
  apps/docs/docs/state/actions/actions.mdx
  libs/state/actions/src/lib/rx-actions.spec.ts
  libs/state/actions/src/lib/rx-actions.ts
Due: state

refactor(state): fix tests from merge
  libs/state/actions/src/lib/actions.factory.spec.ts
Due: state
