Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin

chore: update version target
  libs/cdk/project.json
  libs/state/project.json
  libs/template/project.json
Due: state, template, cdk

release(cdk): 2.0.0
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
Due: cdk

release(template): 2.0.0
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

release(state): 2.0.0
  libs/state/CHANGELOG.md
  libs/state/package.json
Due: state

refactor(cdk): adjust typings to match ts ~4.8
  libs/cdk/internals/core/src/lib/get-zone-unpatched-api.ts
  libs/cdk/notifications/src/lib/create-template-notifier.ts
  libs/cdk/transformations/src/lib/object/toggle.ts
Due: cdk

chore: migrate workspace to latest nx & ng14
  .eslintignore
  apps/demos/project.json
  apps/demos/src/app/features/concepts/global-order/rx-form-v/v4-b.component.ts
  apps/demos/src/app/features/experiments/state/selections/child.component.ts
  apps/demos/src/app/features/integrations/dynamic-counter/rx-state-and-reactive-forms/rx-state-and-reactive-forms.component.ts
  apps/demos/src/app/features/integrations/pokemon-pagination/pokemon.component.ts
  apps/demos/src/app/features/tutorials/tutorials-shell.module.ts
  apps/demos/tsconfig.json
  apps/docs/project.json
  apps/ssr-e2e/project.json
  apps/ssr/project.json
  apps/ssr/tsconfig.json
  apps/tour-of-heroes-ngxs/project.json
  apps/tour-of-heroes-ngxs/tsconfig.json
  apps/vanilla-case-studies/project.json
  apps/vanilla-case-studies/tsconfig.json
  libs/cdk/project.json
  libs/cdk/tsconfig.json
  libs/cdk/tsconfig.lib.json
  libs/eslint-plugin/project.json
  libs/state/project.json
  libs/state/tsconfig.json
  libs/state/tsconfig.lib.json
  libs/template/project.json
  libs/template/tsconfig.json
  libs/template/tsconfig.lib.json
  libs/test-helpers/project.json
  nx.json
  package.json
  workspace.json
  yarn.lock
Due: state, template, cdk, eslint-plugin

refactor(state): adjust typings to match ts ~4.8
  libs/state/src/lib/rx-state.service.ts
Due: state

refactor(demos): adjust typings to match ts ~4.8
  apps/demos/src/app/features/template/rx-let/template-triggers/template-triggers.component.html
  apps/demos/src/app/shared/utils/cd-helper.ts
Due: none

feat(cdk): bump @angular/core peerDependency
  libs/cdk/package.json
Due: cdk

feat(state): bump @angular/core peerDependency
  libs/state/package.json
Due: state

feat(template): bump @angular/core peerDependency
  libs/template/package.json
Due: template

test: remove preprocessTypescript cypress plugin
  apps/ssr-e2e/src/plugins/index.js
Due: none

test(cdk): adjust tests according to upgraded dependencies
  libs/cdk/coercing/spec/coerce-all-factory.spec.ts
  libs/cdk/coercing/spec/coerceDistinctObservableWith.spec.ts
  libs/cdk/jest.config.ts
Due: cdk

test(cdk): adjust tests according to upgraded dependencies
  libs/cdk/coercing/spec/coerceDistinctObservableWith.spec.ts
Due: cdk

fix(state): set default type for ProxyHandler transforms
  libs/state/actions/src/lib/proxy.ts
Due: state

test(state): adjust fixture to rxjs internal changes
  libs/state/jest.config.ts
  libs/state/spec/fixtures.ts
Due: state

Update apps/docs/blog/2023-02-04-announcing-rxangular-cdk-and-template-1-0.md
  apps/docs/blog/2023-02-04-announcing-rxangular-cdk-and-template-1-0.md
Due: none

docs: enable the blog
  apps/docs/blog/authors.yml
  apps/docs/docusaurus.config.js
Due: none

docs: improve release post
  apps/docs/blog/2023-02-04-announcing-rxangular-cdk-and-template-1-0.md
Due: none

docs: Add core features form template and cdk packages
  apps/docs/blog/2023-02-04-announcing-rxangular-cdk-and-template-1-0.md
  apps/docs/static/img/cdk/concurrent-strategies.png
  apps/docs/static/img/cdk/userBlocking-strategy.png
  apps/docs/static/img/references/browser-task.png
  apps/docs/static/img/references/global-vs-local-rendering.png
  apps/docs/static/img/template/context-triggers.png
  apps/docs/static/img/template/reactive-context.png
  apps/docs/static/img/template/rx-for.png
  apps/docs/static/img/template/rx-let.png
Due: none

docs: improve release article
  apps/docs/blog/2023-02-04-announcing-rxangular-cdk-and-template-1-0.md
Due: none

docs: add CDK and Template 1.0 announcement [WIP]
  apps/docs/blog/2023-02-04-announcing-rxangular-cdk-and-template-1-0.md
Due: none

docs: format announcement post
  apps/docs/blog/2023-02-04-announcing-rxangular-cdk-and-template-1-0.md
Due: none

docs: change date of announcement post
  apps/docs/blog/2023-03-07-announcing-rxangular-cdk-and-template-1-0.md
Due: none

docs: add CDK and Template 1.0 announcement (#1510)
  apps/docs/blog/2023-03-07-announcing-rxangular-cdk-and-template-1-0.md
  apps/docs/blog/authors.yml
  apps/docs/docusaurus.config.js
  apps/docs/static/img/cdk/concurrent-strategies.png
  apps/docs/static/img/cdk/userBlocking-strategy.png
  apps/docs/static/img/references/browser-task.png
  apps/docs/static/img/references/global-vs-local-rendering.png
  apps/docs/static/img/template/context-triggers.png
  apps/docs/static/img/template/reactive-context.png
  apps/docs/static/img/template/rx-for.png
  apps/docs/static/img/template/rx-let.png
Due: none

docs: remove list from announcement post
  apps/docs/blog/2023-03-07-announcing-rxangular-cdk-and-template-1-0.md
Due: none

docs: update compat table + toc
  apps/docs/blog/2023-03-07-announcing-rxangular-cdk-and-template-1-0.md
Due: none

chore: move transformations docs
  apps/docs/docs/cdk/api/transformation-helpers/index.md
  apps/docs/docs/cdk/transformations/array/_category_.json
  apps/docs/docs/cdk/transformations/array/extract.md
  apps/docs/docs/cdk/transformations/array/insert.md
  apps/docs/docs/cdk/transformations/array/remove.md
  apps/docs/docs/cdk/transformations/array/to-dictionary.md
  apps/docs/docs/cdk/transformations/array/update.md
  apps/docs/docs/cdk/transformations/edge-cases-overview.md
  apps/docs/docs/cdk/transformations/object/_category_.json
  apps/docs/docs/cdk/transformations/object/delete-prop.md
  apps/docs/docs/cdk/transformations/object/dictionary-to-array.md
  apps/docs/docs/cdk/transformations/object/patch.md
  apps/docs/docs/cdk/transformations/object/set-prop.md
  apps/docs/docs/cdk/transformations/object/slice.md
  apps/docs/docs/cdk/transformations/object/toggle.md
  apps/docs/docs/cdk/transformations/transformations.mdx
Due: none

chore: set logo
  apps/docs/docusaurus.config.js
Due: none

docs(state): minor corrections
  apps/docs/docs/state/actions/actions.mdx
Due: none

fix(cdk): update typing for coercing functions
  libs/cdk/coercing/spec/coerce-all-factory.spec.ts
  libs/cdk/coercing/spec/coerceDistinctObservableWith.spec.ts
  libs/cdk/coercing/spec/coerceObservable.spec.ts
  libs/cdk/coercing/src/lib/coerce-all-factory.ts
  libs/cdk/coercing/src/lib/coerceDistinctObservable.ts
  libs/cdk/coercing/src/lib/coerceDistinctObservableWith.ts
  libs/cdk/coercing/src/lib/coerceObservable.ts
  libs/cdk/coercing/src/lib/coerceObservableWith.ts
Due: cdk

chore: move transformations docs
  apps/docs/docs/cdk/transformations/transformations.mdx
Due: none

chore: update schema
  libs/cdk/coalescing/ng-package.json
  libs/cdk/coercing/ng-package.json
  libs/cdk/internals/core/ng-package.json
  libs/cdk/internals/scheduler/ng-package.json
  libs/cdk/notifications/ng-package.json
  libs/cdk/render-strategies/ng-package.json
  libs/cdk/template/ng-package.json
  libs/cdk/transformations/ng-package.json
  libs/cdk/zone-configurations/ng-package.json
  libs/cdk/zone-less/browser/ng-package.json
  libs/state/actions/ng-package.json
  libs/state/effects/ng-package.json
  libs/state/selections/ng-package.json
  libs/template/experimental/viewport-prio/ng-package.json
  libs/template/for/ng-package.json
  libs/template/if/ng-package.json
  libs/template/let/ng-package.json
  libs/template/push/ng-package.json
  libs/template/unpatch/ng-package.json
Due: state, template, cdk

fix(template): cleanup unpatched listeners
  libs/template/unpatch/src/lib/tests/unpatch.directive.spec.ts
  libs/template/unpatch/src/lib/unpatch.directive.ts
Due: template

chore: update
  libs/cdk/package.json
  libs/state/package.json
  libs/template/package.json
Due: state, template, cdk

Path conditions:
  state: any of: libs/state
  template: any of: libs/template
  cdk: any of: libs/cdk
  eslint-plugin: any of: libs/eslint-plugin
