Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin

.codecov.yml:

coverage:
  status:
    patch:
      default:
        threshold: 2%
        target: 90%
    project:
      default: false
      state:
        target: 68%
        flags:
          - state
      template:
        target: 90%
        flags:
          - template
      cdk:
        target: 72%
        flags:
          - cdk
      eslint-plugin:
        target: 90%
        flags:
          - eslint-plugin

flags:
  state:
    paths:
      - libs/state
    carryforward: true
  template:
    paths:
      - libs/template
    carryforward: true
  cdk:
    paths:
      - libs/cdk
    carryforward: true
  eslint-plugin:
    paths:
      - libs/eslint-plugin
    carryforward: true

comment:
  layout: diff, flags, files
  require_changes: true

refactor(template): improve autosize diffing
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosized-virtual-scroll-strategy.ts
Due: template

refactor(template): improve autosize viewport caching
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosized-virtual-scroll-strategy.ts
Due: template

docs: added kofi button ☕️
  projects/docs/src/app/docs/layout/docs-desktop-nav.component.ts
  projects/docs/src/app/docs/layout/docs-mobile-nav.component.ts
Due: none

test(template): stabilize virtual scrolling component tests for CI
  libs/template/cypress.config.ts
  libs/template/experimental/virtual-scrolling/tests/autosize.cy.ts
  libs/template/experimental/virtual-scrolling/tests/dynamic-size.cy.ts
  libs/template/experimental/virtual-scrolling/tests/fixed-size.cy.ts
Due: template

chore: integrate component-test into ci
  .github/workflows/build-and-test.yml
Due: none

test(template): implement component-tests for experimental virtual-scrolling (#1542)
  .github/workflows/build-and-test.yml
  libs/template/cypress.config.ts
  libs/template/cypress/fixtures/.gitkeep
  libs/template/cypress/support/commands.ts
  libs/template/cypress/support/component-index.html
  libs/template/cypress/support/component.ts
  libs/template/cypress/tsconfig.cy.json
  libs/template/experimental/virtual-scrolling/tests/autosize.cy.ts
  libs/template/experimental/virtual-scrolling/tests/dynamic-size.cy.ts
  libs/template/experimental/virtual-scrolling/tests/fixed-size.cy.ts
  libs/template/experimental/virtual-scrolling/tests/fixtures.ts
  libs/template/project.json
  libs/template/tsconfig.json
  libs/template/tsconfig.lib.json
  libs/template/tsconfig.spec.json
  nx.json
  package.json
  yarn.lock
Due: template

test(template): fix jest & cypress type conflict
  libs/template/tsconfig.spec.json
Due: template

chore: fix broken html-webpack-plugin dependency
  package.json
  yarn.lock
Due: none

chore: stick to node lts version in ci
  .github/actions/setup/action.yml
Due: none

chore: stick to latest working node version in ci
  .github/actions/setup/action.yml
Due: none

chore: properly execute component-test in ci
  .github/workflows/build-and-test.yml
Due: none

docs(template): polish virtual-scrolling docs
  apps/docs/docs/template/api/virtual-scrolling.md
Due: none

refactor(template): rename Autosize ScrollStrategy to be consistent
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-experiments.module.ts
  apps/docs/docs/template/api/virtual-scrolling.md
  libs/template/experimental/virtual-scrolling/src/lib/index.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/tests/autosize.cy.ts
Due: template

docs(template): improve virtual-scrolling docs
  apps/docs/docs/template/api/virtual-scrolling.md
Due: none

test(template): fix autosize runway height test
  libs/template/experimental/virtual-scrolling/tests/autosize.cy.ts
Due: template

docs: improve readme
  README.md
Due: none

docs: format packages in table
  README.md
  libs/eslint-plugin/README.md
Due: eslint-plugin

docs: add goals section
  README.md
Due: none

docs: format
  README.md
Due: none

docs: improve template example
  README.md
Due: none

docs: improve state example
  README.md
Due: none

release(template): 15.2.0
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

docs: improve readme (#1544)
  README.md
  libs/eslint-plugin/README.md
Due: eslint-plugin

docs: improve experimental links
  apps/docs/docs/template/api/experimental/_category_.json
  apps/docs/docs/template/api/viewport-prio-directive.md
  libs/template/README.md
Due: template

docs: update version compatibility matrix
  libs/cdk/README.md
  libs/state/README.md
  libs/template/README.md
Due: state, template, cdk

docs: reduce footer logo size
  apps/docs/src/css/custom.css
Due: none

remove used by table as mainteinance effort
  README.md
Due: none

feat: allow NgxIsrService to be used in application code
  projects/docs/server.ts
  projects/docs/src/app/app.server.module.ts
  projects/docs/src/app/docs/pages/error-handling.component.ts
  projects/docs/src/app/docs/routes.ts
  projects/ngx-isr/browser/README.md
  projects/ngx-isr/browser/ng-package.json
  projects/ngx-isr/browser/src/index.ts
  projects/ngx-isr/browser/src/isr.service.ts
  projects/ngx-isr/models/README.md
  projects/ngx-isr/models/ng-package.json
  projects/ngx-isr/models/src/cache-handler.ts
  projects/ngx-isr/models/src/index.ts
  projects/ngx-isr/models/src/isr-handler-config.ts
  projects/ngx-isr/models/src/ngx-isr-service.interface.ts
  projects/ngx-isr/server/README.md
  projects/ngx-isr/server/ng-package.json
  projects/ngx-isr/server/src/cache-handlers/filesystem-cache-handler.ts
  projects/ngx-isr/server/src/cache-handlers/in-memory-cache-handler.ts
  projects/ngx-isr/server/src/cache-regeneration.ts
  projects/ngx-isr/server/src/http-errors.interceptor.ts
  projects/ngx-isr/server/src/index.ts
  projects/ngx-isr/server/src/isr-handler.ts
  projects/ngx-isr/server/src/isr-logger.ts
  projects/ngx-isr/server/src/ngx-isr-server.service.ts
  projects/ngx-isr/server/src/ngx-isr.module.ts
  projects/ngx-isr/server/src/provide-isr.ts
  projects/ngx-isr/server/src/utils/add-isr-data-before-serialized.ts
  projects/ngx-isr/server/src/utils/get-isr-options.ts
  projects/ngx-isr/server/src/utils/render-url.ts
  projects/ngx-isr/src/lib/cache-handlers/index.ts
  projects/ngx-isr/src/lib/models/index.ts
  projects/ngx-isr/src/public-api.ts
  tsconfig.json
Due: none

docs: fixed imports for selections
  apps/docs/docs/state/api/rxjs-operators/distinct-until-some-changed.md
  apps/docs/docs/state/api/rxjs-operators/select-slice.md
  apps/docs/docs/state/api/rxjs-operators/stateful.md
Due: none

chore(template): improve path alias
  libs/template/tsconfig.lib.json
Due: template

docs(template): fix usage of fixed size
  apps/docs/docs/template/api/virtual-scrolling.md
Due: none

docs(template): add link to reference implementation
  libs/template/experimental/virtual-scrolling/src/lib/virtual-list-template-manager.ts
Due: template

docs: link to official compatibility guide
  libs/cdk/README.md
  libs/state/README.md
  libs/template/README.md
Due: state, template, cdk

docs(template): improve comparison to cdk virtual scrolling
  apps/docs/docs/template/api/virtual-scrolling.md
  apps/docs/static/img/template/virtual-scrolling/cdk-autosize--throttled.png
  apps/docs/static/img/template/virtual-scrolling/cdk-autosize--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/cdk-container-size.png
  apps/docs/static/img/template/virtual-scrolling/cdk-container-transform.png
  apps/docs/static/img/template/virtual-scrolling/cdk-fixed-size--throttled.png
  apps/docs/static/img/template/virtual-scrolling/cdk-fixed-size--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/css-triggers-height.png
  apps/docs/static/img/template/virtual-scrolling/css-triggers-transform.png
  apps/docs/static/img/template/virtual-scrolling/layer-memory-estimate.png
  apps/docs/static/img/template/virtual-scrolling/rxa-autosize--throttled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-autosize--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-dynamic-size--throttled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-dynamic-size--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-fixed-size--throttled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-fixed-size--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-item-transform.png
  apps/docs/static/img/template/virtual-scrolling/rxa-scroll-sentinel.png
  apps/docs/static/img/template/virtual-scrolling/viewport-and-runway.png
Due: none

fix(state): handle error emission in `connect` using `ErrorHandler`
  libs/state/selections/src/lib/accumulation-observable.ts
  libs/state/spec/rx-state.component.spec.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.service.ts
Due: state

docs(template): improve intro and add video player
  apps/docs/docs/template/api/virtual-scrolling.mdx
  package.json
  yarn.lock
Due: none

docs(template): improve further improvements section
  apps/docs/docs/template/api/virtual-scrolling.mdx
Due: none

docs(template): improve virtual scrolling docs
  apps/docs/docs/template/api/virtual-scrolling.mdx
  apps/docs/static/img/template/virtual-scrolling/cdk-autosize--throttled.png
  apps/docs/static/img/template/virtual-scrolling/cdk-autosize--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/cdk-container-size.png
  apps/docs/static/img/template/virtual-scrolling/cdk-container-transform.png
  apps/docs/static/img/template/virtual-scrolling/cdk-fixed-size--throttled.png
  apps/docs/static/img/template/virtual-scrolling/cdk-fixed-size--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/css-triggers-height.png
  apps/docs/static/img/template/virtual-scrolling/css-triggers-transform.png
  apps/docs/static/img/template/virtual-scrolling/layer-memory-estimate.png
  apps/docs/static/img/template/virtual-scrolling/rxa-autosize--throttled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-autosize--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-dynamic-size--throttled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-dynamic-size--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-fixed-size--throttled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-fixed-size--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-item-transform.png
  apps/docs/static/img/template/virtual-scrolling/rxa-scroll-sentinel.png
  apps/docs/static/img/template/virtual-scrolling/viewport-and-runway.png
  package.json
  yarn.lock
Due: none
