Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin

chore: use es2020 build target for ssr
  apps/ssr/tsconfig.json
Due: none

chore: cleanup commands
  apps/ssr-e2e/src/support/app.po.ts
  apps/ssr-e2e/src/support/commands.ts
Due: none

chore: fix ssr target
  apps/ssr/tsconfig.server.json
Due: none

chore: move engines compat in root
  libs/cdk/package.json
  libs/state/package.json
  libs/template/package.json
  package.json
Due: state, template, cdk

release(state): 15.0.0
  libs/state/CHANGELOG.md
  libs/state/package.json
Due: state

release(cdk): 15.0.0
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
Due: cdk

feat(template): migrate ViewportPrioDirective to standalone API
  libs/template/experimental/viewport-prio/src/lib/viewport-prio.directive.ts
  libs/template/experimental/viewport-prio/src/lib/viewport-prio.module.ts
Due: template

feat(template): migrate RxFor to standalone API
  libs/template/for/src/lib/for.directive.ts
  libs/template/for/src/lib/for.module.ts
  libs/template/for/src/lib/tests/for.directive.observable.spec.ts
  libs/template/for/src/lib/tests/for.directive.parent-notification.spec.ts
  libs/template/for/src/lib/tests/for.directive.spec.ts
  libs/template/for/src/lib/tests/for.directive.strategy.spec.ts
Due: template

feat(template): migrate RxIf to standalone API
  libs/template/if/src/lib/if.directive.ts
  libs/template/if/src/lib/if.module.ts
  libs/template/if/src/lib/tests/if.directive.context-templates.spec.ts
  libs/template/if/src/lib/tests/if.directive.context.spec.ts
  libs/template/if/src/lib/tests/if.directive.observable.spec.ts
  libs/template/if/src/lib/tests/if.directive.spec.ts
  libs/template/if/src/lib/tests/if.directive.strategy.spec.ts
Due: template

feat(template): migrate LetDirective to standalone API
  libs/template/let/src/lib/let.directive.ts
  libs/template/let/src/lib/let.module.ts
  libs/template/let/src/lib/tests/let.directive.complete.spec.ts
  libs/template/let/src/lib/tests/let.directive.context.spec.ts
  libs/template/let/src/lib/tests/let.directive.error.spec.ts
  libs/template/let/src/lib/tests/let.directive.next.spec.ts
  libs/template/let/src/lib/tests/let.directive.parent-notification.spec.ts
  libs/template/let/src/lib/tests/let.directive.rendered.spec.ts
  libs/template/let/src/lib/tests/let.directive.strategy.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.all.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-complete.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-error.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-suspense.spec.ts
Due: template

feat(template): migrate PushPipe to standalone API
  libs/template/push/src/lib/push.module.ts
  libs/template/push/src/lib/push.pipe.ts
  libs/template/push/src/lib/tests/push.pipe.spec.ts
Due: template

feat(template): migrate UnpatchDirective to standalone API
  libs/template/unpatch/src/lib/tests/unpatch.directive.spec.ts
  libs/template/unpatch/src/lib/unpatch.directive.ts
  libs/template/unpatch/src/lib/unpatch.module.ts
Due: template

release(template): 15.0.0
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

release(template): 15.1.0
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

feat(template): introduce experimental virtual-scrolling package
  libs/template/experimental/virtual-scrolling/README.md
  libs/template/experimental/virtual-scrolling/docs/images/cdk-autosize--throttled.png
  libs/template/experimental/virtual-scrolling/docs/images/cdk-autosize--unthrottled.png
  libs/template/experimental/virtual-scrolling/docs/images/cdk-fixed-size--throttled.png
  libs/template/experimental/virtual-scrolling/docs/images/cdk-fixed-size--unthrottled.png
  libs/template/experimental/virtual-scrolling/docs/images/rxa-autosize--throttled.png
  libs/template/experimental/virtual-scrolling/docs/images/rxa-autosize--unthrottled.png
  libs/template/experimental/virtual-scrolling/docs/images/rxa-dynamic-size--throttled.png
  libs/template/experimental/virtual-scrolling/docs/images/rxa-dynamic-size--unthrottled.png
  libs/template/experimental/virtual-scrolling/docs/images/rxa-fixed-size--throttled.png
  libs/template/experimental/virtual-scrolling/docs/images/rxa-fixed-size--unthrottled.png
  libs/template/experimental/virtual-scrolling/docs/images/rxa-vs-cdk.png
  libs/template/experimental/virtual-scrolling/ng-package.json
  libs/template/experimental/virtual-scrolling/src/index.ts
  libs/template/experimental/virtual-scrolling/src/lib/index.ts
  libs/template/experimental/virtual-scrolling/src/lib/model.ts
  libs/template/experimental/virtual-scrolling/src/lib/observe-element-size.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosized-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/fixed-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/util.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-list-view-handler.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll.config.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scrolling.module.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-template-manager.ts
  libs/template/tsconfig.lib.json
  tsconfig.base.json
Due: template

docs(template): add virtual scrolling link
  libs/template/README.md
Due: template

release(template): 1.1.0
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

feat(template): introduce experimental virtual-scrolling package
  libs/template/experimental/virtual-scrolling/README.md
  libs/template/experimental/virtual-scrolling/ng-package.json
  libs/template/experimental/virtual-scrolling/src/index.ts
  libs/template/experimental/virtual-scrolling/src/lib/index.ts
  libs/template/experimental/virtual-scrolling/src/lib/model.ts
  libs/template/experimental/virtual-scrolling/src/lib/observe-element-size.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosized-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/fixed-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/util.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-list-view-handler.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll.config.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-template-manager.ts
  libs/template/tsconfig.lib.json
  tsconfig.base.json
Due: template

docs: add docs for virtual-scrolling package
  apps/docs/docs/template/api/virtual-scrolling.md
  apps/docs/static/img/template/virtual-scrolling/cdk-autosize--throttled.png
  apps/docs/static/img/template/virtual-scrolling/cdk-autosize--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/cdk-fixed-size--throttled.png
  apps/docs/static/img/template/virtual-scrolling/cdk-fixed-size--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-autosize--throttled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-autosize--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-dynamic-size--throttled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-dynamic-size--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-fixed-size--throttled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-fixed-size--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-vs-cdk.png
Due: none

feat(demos): add virtual scrolling demo application
  apps/demos/src/app/features/template/rx-virtual-for/rx-virtual-for.menu.ts
  apps/demos/src/app/features/template/rx-virtual-for/rx-virtual-for.module.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-experiments.module.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-test.component.ts
  apps/demos/src/app/features/template/template-shell.menu.ts
  apps/demos/src/app/features/template/template-shell.module.ts
  package.json
  yarn.lock
Due: none

chore: cleanup docs
  apps/docs/docs/template/api/virtual-scrolling.md
  libs/template/experimental/virtual-scrolling/README.md
Due: template

fixed import of selectSlice
  apps/docs/docs/state/api/rxjs-operators/select-slice.md
Due: none

fixed second import
  apps/docs/docs/state/api/rxjs-operators/select-slice.md
Due: none

Update example RedisCacheHandler to use a prefix
  projects/ngx-isr-demo/redis-cache-handler.ts
  projects/ngx-isr-demo/server.ts
Due: none

test(template): setup cypress component tests
  libs/template/cypress.config.ts
  libs/template/cypress/fixtures/.gitkeep
  libs/template/cypress/support/commands.ts
  libs/template/cypress/support/component-index.html
  libs/template/cypress/support/component.ts
  libs/template/cypress/tsconfig.cy.json
  libs/template/project.json
  libs/template/tsconfig.json
  libs/template/tsconfig.lib.json
  nx.json
  package.json
  yarn.lock
Due: template

test(template): implement first test for virtual-scrolling
  libs/template/experimental/virtual-scrolling/tests/fixed-size.cy.ts
Due: template

fix(template): rxVirtualFor: fix static and cleanup api
  libs/template/experimental/virtual-scrolling/src/lib/model.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
Due: template

fixed imports from selections for stateful and distinctUntilSomeChanged
  apps/docs/docs/state/api/rxjs-operators/distinct-until-some-changed.md
  apps/docs/docs/state/api/rxjs-operators/stateful.md
Due: none

add homepage
  angular.json
  package.json
  projects/ngx-isr-demo/src/app/app.module.ts
  projects/ngx-isr-demo/src/app/components/home.component.html
  projects/ngx-isr-demo/src/app/components/home.component.ts
  projects/ngx-isr-demo/src/app/routes.ts
  projects/ngx-isr-demo/src/styles.scss
  projects/ngx-isr-demo/tailwind.config.js
  yarn.lock
Due: none

migrate to nx
  .vscode/extensions.json
  angular.json
  nx.json
  package.json
  projects/ngx-isr-demo/project.json
  projects/ngx-isr/project.json
  yarn.lock
Due: none

change homepage
  projects/ngx-isr-demo/src/app/components/home.component.html
  projects/ngx-isr-demo/tailwind.config.js
Due: none

added docs route
  projects/ngx-isr-demo/src/app/docs/intro.component.ts
  projects/ngx-isr-demo/src/app/docs/layout.component.ts
  projects/ngx-isr-demo/src/app/docs/routes.ts
  projects/ngx-isr-demo/src/app/routes.ts
  projects/ngx-isr-demo/src/app/url-timings.interceptor.ts
Due: none

feat: added provideISR provider function
  projects/docs/src/app/app.server.module.ts
  projects/ngx-isr/src/lib/ngx-isr.module.ts
  projects/ngx-isr/src/lib/ngx-isr.service.ts
  projects/ngx-isr/src/lib/provide-isr.ts
  projects/ngx-isr/src/public-api.ts
Due: none

chore: update readme
  README.md
  projects/ngx-isr/README.md
Due: none

chore: update version
  README.md
  projects/ngx-isr/README.md
  projects/ngx-isr/package.json
Due: none

chore: update docs
  projects/docs/src/app/components/home.component.html
Due: none

fix: fix vercel deployment
  vercel.json
Due: none

chore: update package.json
  package.json
Due: none

chore: remove old changelogs
  README.md
Due: none

Path conditions:
  state: any of: libs/state
  template: any of: libs/template
  cdk: any of: libs/cdk
  eslint-plugin: any of: libs/eslint-plugin
