Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin

.codecov.yml:

coverage:
  status:
    patch:
      default:
        threshold: 2%
        target: 90%
    project:
      default: false
      state:
        target: 68%
        flags:
          - state
      template:
        target: 90%
        flags:
          - template
      cdk:
        target: 72%
        flags:
          - cdk
      eslint-plugin:
        target: 90%
        flags:
          - eslint-plugin

flags:
  state:
    paths:
      - libs/state
    carryforward: true
  template:
    paths:
      - libs/template
    carryforward: true
  cdk:
    paths:
      - libs/cdk
    carryforward: true
  eslint-plugin:
    paths:
      - libs/eslint-plugin
    carryforward: true

comment:
  layout: diff, flags, files
  require_changes: true

refactor(state): adjust typings to match ts ~4.8
  libs/state/src/lib/rx-state.service.ts
Due: state

refactor(demos): adjust typings to match ts ~4.8
  apps/demos/src/app/features/template/rx-let/template-triggers/template-triggers.component.html
  apps/demos/src/app/shared/utils/cd-helper.ts
Due: none

feat: upgrade Angular to v14
  libs/cdk/package.json
  libs/state/package.json
  libs/template/package.json
Due: state, template, cdk

test(state): adjust fixture to rxjs internal changes
  libs/state/jest.config.ts
  libs/state/spec/fixtures.ts
Due: state

test(cdk): adjust tests according to upgraded dependencies
  libs/cdk/coercing/spec/coerceDistinctObservableWith.spec.ts
Due: cdk

test(cdk): adjust tests according to upgraded dependencies
  libs/cdk/coercing/spec/coerce-all-factory.spec.ts
  libs/cdk/coercing/spec/coerceDistinctObservableWith.spec.ts
  libs/cdk/jest.config.ts
Due: cdk

fix(state): set default type for ProxyHandler transforms
  libs/state/actions/src/lib/proxy.ts
Due: state

test: remove preprocessTypescript cypress plugin
  apps/ssr-e2e/src/plugins/index.js
Due: none

chore: update schema
  libs/cdk/coalescing/ng-package.json
  libs/cdk/coercing/ng-package.json
  libs/cdk/internals/core/ng-package.json
  libs/cdk/internals/scheduler/ng-package.json
  libs/cdk/notifications/ng-package.json
  libs/cdk/render-strategies/ng-package.json
  libs/cdk/template/ng-package.json
  libs/cdk/transformations/ng-package.json
  libs/cdk/zone-configurations/ng-package.json
  libs/cdk/zone-less/browser/ng-package.json
  libs/state/actions/ng-package.json
  libs/state/effects/ng-package.json
  libs/state/selections/ng-package.json
  libs/template/experimental/viewport-prio/ng-package.json
  libs/template/for/ng-package.json
  libs/template/if/ng-package.json
  libs/template/let/ng-package.json
  libs/template/push/ng-package.json
  libs/template/unpatch/ng-package.json
Due: state, template, cdk

chore: correct email address (mostly for debugging nx-cloud)
  libs/cdk/package.json
  libs/state/package.json
  libs/template/package.json
Due: state, template, cdk

chore: trigger ci
  README.md
Due: none

chore: temporary disable cache
  nx.json
Due: none

Revert "chore: temporary disable cache"
  nx.json
Due: none

chore: bump @nrwl/nx-cloud dep
  package.json
  yarn.lock
Due: none

fix(template): correct version to apply rxFor migration
  libs/template/schematics/migration.json
Due: template

feat(demos): implement signal store like service
  apps/demos/src/app/features/state/signal-state/signal-state.component.ts
Due: none

chore: upgrade nx-cloud to latest
  package.json
  yarn.lock
Due: none

chore: upgrade nx to latest
  package.json
  yarn.lock
Due: none

release(cdk): 14.0.0
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
Due: cdk

release(template): 14.0.0
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

release(state): 14.0.0
  libs/state/CHANGELOG.md
  libs/state/package.json
Due: state

chore: migrate workspace to latest nx & ng14
  yarn.lock
Due: none

chore: upgrade workspace to ng 15
  apps/demos/src/app/app-component/app-component.module.ts
  apps/tour-of-heroes-ngxs/src/app/app-routing.module.ts
  package.json
  yarn.lock
Due: none

fix(demos): adjust 3rd party css import paths
  apps/demos/src/styles/_utils.scss
Due: none

feat: upgrade Angular to v15
  libs/cdk/package.json
  libs/state/package.json
  libs/template/package.json
Due: state, template, cdk

chore: bump target + pkg
  apps/ssr/tsconfig.json
  package.json
  yarn.lock
Due: none

chore: bump browserslist db
  yarn.lock
Due: none

feat(demos): implement simple signal-let directive
  apps/demos/src/app/features/state/signal-state/signal-let.directive.ts
  apps/demos/src/app/features/state/signal-state/signal-state.component.ts
Due: none

refactor(state): use nullish coalescing
  libs/state/src/lib/rx-state.service.ts
Due: state

feat(template): implement naive signal compat
  libs/template/for/src/lib/for.directive.ts
  libs/template/let/src/lib/let.directive.ts
Due: template

chore: upgrade node version in ci
  .github/actions/setup/action.yml
  .github/workflows/build-and-test.yml
Due: none

chore: refresh lock file, fix ssr build
  apps/ssr/tsconfig.server.json
  yarn.lock
Due: none

fix(template): add support for angular versions beyond version 14
  libs/template/package.json
Due: template

fix(state): add support for angular versions beyond version 14
  libs/state/package.json
Due: state

fix(cdk): add support for angular versions beyond version 14
  libs/cdk/package.json
Due: cdk

fix(demos): upgrade bootstrap version
  apps/demos/src/styles/_utils.scss
  package.json
  yarn.lock
Due: none

chore: update ssr-e2e config
  apps/ssr-e2e/cypress.config.ts
  apps/ssr-e2e/cypress.json
  apps/ssr-e2e/project.json
  apps/ssr-e2e/src/e2e/app.cy.ts
  apps/ssr-e2e/src/plugins/index.js
  apps/ssr-e2e/src/support/app.po.ts
  apps/ssr-e2e/src/support/commands.ts
  apps/ssr-e2e/src/support/e2e.ts
  apps/ssr-e2e/src/support/index.ts
  apps/ssr-e2e/tsconfig.e2e.json
  apps/ssr-e2e/tsconfig.json
  package.json
  yarn.lock
Due: none
